@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: 0,
  ));
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--primary-bg);
}

:root , [data-theme="light"] {
  --main-bg: radial-gradient(circle,rgba(248, 244, 244, 1) 0%, rgba(237, 235, 235, 1) 100%);
  --primary-bg: #f8f4f4;
  --secondary-bg: #d1caca;
  --header-bg: #ffffff;
  --sidebar-bg: #ffffff;
  --text-main: #000000;
  --text-secondary: #606060;
  --border-color: #d7dade;
  --accent-color: #f8274f;
  --hover-bg: #f0f0f0;
}

[data-theme="dark"] {
  --main-bg: radial-gradient(circle,rgba(39, 39, 59, 1) 0%, rgba(33, 33, 46, 1) 100%);
  --primary-bg: #21212e;
  --secondary-bg: #181924;
  --header-bg: #1c1c27;
  --sidebar-bg: #1c1c27;
  --text-main: #bbbbbb;
  --text-secondary: #878a8c;
  --border-color: #333333;
  --accent-color: #f8274f;
  --hover-bg: #2d2d3a;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@include mat.button-overrides((
  filled-container-color: #f8274f,
  filled-label-text-color: white,
  outlined-ripple-color: rgba(165, 0, 0, 0.2),
));

@include mat.fab-overrides((
  container-color: var(--accent-color),
  foreground-color: var(--text-secondary),
));

@include mat.progress-bar-overrides((
  active-indicator-color: #f8274f,
  track-color: #21212e,
  track-height: 50px
));

@include mat.slide-toggle-overrides((
  selected-handle-color: #ffffff,
  selected-track-color: #15161d,
  selected-icon-color: #15161d,
  selected-pressed-handle-color: #ffffff,

  selected-hover-track-color: #15161d,
  selected-focus-track-color: #15161d,
  selected-pressed-track-color: #15161d,

  unselected-handle-color: #15161d,
  unselected-track-color: #e0e0e0,
  unselected-icon-color: #ffffff,

  unselected-hover-track-color: #e0e0e0,
  unselected-focus-track-color: #e0e0e0,
  unselected-pressed-track-color: #e0e0e0,

  selected-hover-state-layer-color: rgba(0, 0, 0, 0.05),
  selected-focus-state-layer-color: rgba(0, 0, 0, 0.1),
  unselected-hover-state-layer-color: rgba(0, 0, 0, 0.05),
  unselected-focus-state-layer-color: rgba(0, 0, 0, 0.1),
));

@include mat.form-field-overrides((
  filled-container-color: var(--primary-bg),

  filled-input-text-color: var(--accent-color),
  filled-input-text-placeholder-color: var(--text-secondary),
  filled-label-text-color: var(--text-secondary),
  filled-focus-label-text-color: var(--accent-color),

  filled-active-indicator-color: var(--border-color),
  filled-focus-active-indicator-color: var(--accent-color),
  filled-hover-active-indicator-color: var(--text-main),

  outlined-label-text-color: var(--text-secondary),
  outlined-focus-label-text-color: var(--accent-color),
  outlined-input-text-color: var(--text-main),
  outlined-outline-color: var(--border-color),
  outlined-focus-outline-color: var(--accent-color)
));

@include mat.tabs-overrides((
  divider-color: var(--accent-color),

  active-focus-indicator-color: var(--accent-color),
  active-focus-label-text-color: var(--accent-color),
  active-hover-indicator-color: red,
  active-hover-label-text-color: red,
  active-indicator-color: var(--accent-color),
  active-label-text-color: var(--accent-color),

  inactive-focus-label-text-color: var(--text-secondary),
  inactive-hover-label-text-color: var(--accent-color),
  inactive-label-text-color: var(--text),
));

@include mat.menu-overrides((
  container-shape: 12px,
  container-color: var(--primary-bg),
  divider-color: var(--text-secondary),
));

@include mat.button-toggle-overrides((
  background-color: var(--secondary-bg),
  selected-state-background-color: var(--accent-color),
  text-color: var(--text-main),
  selected-state-text-color: var(--text-main),
  divider-color: var(--border-color),
  state-layer-color: var(--text-main),
  hover-state-layer-opacity: 0.12,
  focus-state-layer-opacity: 0.20
));

@include mat.snack-bar-overrides((
  container-color: var(--primary-bg),
  supporting-text-color: var(--text-main),
  supporting-text-size: 8px,
  container-shape: 8px,
));

.custom-nav-panel {
  background-color: var(--secondary-bg) !important;
  border-radius: 8px !important;
  margin-top: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5) !important;
}

.custom-nav-panel .mat-mdc-option {
  background-color: transparent !important;
  opacity: 1 !important;
}

.custom-nav-panel .mat-mdc-option .mdc-list-item__primary-text {
  color: var(--text-main) !important;
}

.custom-nav-panel .mat-mdc-option.mdc-list-item--selected {
  background-color: var(--accent-color) !important; /* Itt javítva accent-color-ra! */
}

.custom-nav-panel .mat-mdc-option.mdc-list-item--selected .mdc-list-item__primary-text {
  color: white !important;
}

.custom-nav-panel .mat-pseudo-checkbox {
  display: none !important;
}

.custom-nav-panel .mat-mdc-option:hover:not(.mdc-list-item--selected) {
  background-color: var(--hover-bg) !important;
}
