/server/.idea
/server/.vs

/server/API/bin
/server/API/obj
/server/API/.env

/server/Context/bin
/server/Context/obj

/server/DTOs/bin
/server/DTOs/obj

/server/Entities/bin
/server/Entities/obj

/server/Repositories/bin
/server/Repositories/obj