.news-container,
.reviews-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 30px 12px 30px 12px;
  background-color: var(--secondary-bg);
  min-height: 60vh;
}

.new-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  background-color: var(--primary-bg);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;

  &:hover {
    transform: scale(1.01);
    border: 1px solid #ed2449;
    box-shadow: 3px 5px 15px rgba(237, 36, 73, 0.3);
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.text-content {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: justify;

  .news-label {
    color: var(--text-main);
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
  }

  .news-desc {
    font-size: 1em;
    color: var(--text-secondary);
    margin: 0;
  }

  .news-date {
    font-size: 0.85em;
    color: #ed2449;
    font-weight: 500;
    margin-top: 10px;
  }
}

.loading-container, .error-container {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 60px 0;

  h3 {
    color: var(--text-main);
    font-size: 1.4em;
    margin: 0;
  }
}

.loading-container h3 {
  color: var(--text-main);
  margin: 0;
}

mat-progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-color: var(--primary-bg);
}

.empty-msg {
  grid-column: 1 / -1;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  color: var(--primary-text);
}

// Tablet - 1 oszlop
@media (max-width: 1200px) {
  .news-container,
  .reviews-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .new-item img {
    height: 220px;
  }

  .text-content .news-label {
    font-size: 1.4em;
  }
}

.fab-edit {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}

// Mobil - 1 oszlop
@media (max-width: 768px) {
  .news-container,
  .reviews-container {
    grid-template-columns: 1fr;
    padding: 10px 2%;
    gap: 15px;
    width: 100%;
  }

  .new-item {
    width: 100%;
    margin: auto;
    border-radius: 12px;
  }

  .new-item img {
    height: 200px;
    max-width: 100%;
    border-radius: 8px;
  }

  .text-content .news-label {
    font-size: 1.3em;
  }

  .text-content .news-desc {
    font-size: 1em;
    color: var(--secondary-text);
  }
}
