.form-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 28px;
  margin: 30px auto;
  background-color: var(--secondary-bg);
}

.auth-card {
  width: 100%;
  max-width: 1150px;
  min-height: 700px;
  display: flex;
  padding: 0 !important;
  border-radius: 28px !important;
  background-color: var(--primary-bg);
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0,0,0,0.1) !important;
}

.auth-split-container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column-reverse;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.form-field {
   width: 80%;
   margin: auto;
}

.form-side {
  flex: 1.1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.form-centering-wrapper {
  width: 100%;
  max-width: 500px;
}

.form-header {
  text-align: center;
  margin-bottom: 30px;
  h1 { font-weight: 700; margin-bottom: 5px; color: var(--text-main); }
  p { color: var(--text-secondary); }
}

.visual-side {
  flex: 0.9;
  position: relative;
  overflow: hidden;
  display: flex;

  @media (max-width: 991px) {
    height: 250px;
  }
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 25px;
  border-radius: 7px;
  background-color: var(--secondary-bg);
  gap: 15px;

  mat-form-field { width: 100%; }
}

.submit-button {
  width: 50%;
  margin: auto;
}

::ng-deep .mat-mdc-tab-labels {
  justify-content: center;
  margin-bottom: 10px;
}

@media (max-width: 980px) {
    .form-side {
      padding: 10px;
    }
    .form-field {
      width: 100%;
    }
}
