<main>
  <div class="content-container">
    @if (isLoading && !errorOccurred) {
      <div class="loading-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <h3>{{ seriesDetail?.shortName || 'Széria' }} adatok betöltése...</h3>
      </div>
    }
    @else if (errorOccurred) {
      <app-error-display (retry)="ngOnInit()"></app-error-display>
    }
    @else {
        <h2>Aktuális {{ seriesDetail?.shortName }} szavazások:</h2>
        <app-poll-list
          [polls]="polls"
          (pollChanged)="fetchSeriesData()"
          [currentSeriesShortName]="seriesDetail?.shortName!">
        </app-poll-list>

      <h2>Friss hírek ({{ seriesDetail?.shortName }}):</h2>
      <app-recent-news-list [articles]="articles"></app-recent-news-list>

      <mat-card class="outer-card">
        <mat-card class="inner-card">

          @if (seriesDetail?.shortName) {
            <img mat-card-image
                 [src]="'img/series/' + seriesDetail?.shortName?.toLowerCase() + '.jpg'"
                 [alt]="seriesDetail?.name">
          }

          <mat-card-content>
            <div class="description-content" [innerHTML]="seriesDetail?.description"></div>
            <h3 class="join-us">Kövess velünk minden {{ seriesDetail?.shortName }} eseményt!</h3>
          </mat-card-content>
        </mat-card>
      </mat-card>
    }
  </div>
</main>
