.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 20px 2%;
  gap: 30px;

  box-sizing: border-box;
  border-radius: 30px 12px 30px 12px;
  background-color: var(--secondary-bg);
  overflow: hidden;
}

.new-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0;
  cursor: pointer;
  background-color: var(--primary-bg);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;

  &:hover {
    transform: scale(1.01);
    border: 1px solid #ed2449;
    box-shadow: 3px 5px 15px rgba(237, 36, 73, 0.3);
  }

  img {
    display: block;
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
}

.text-content {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: justify;

  .news-label {
    color: var(--text-main);
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
  }

  .news-desc {
    font-size: 1.1em;
    color: var(--text-secondary);
    margin: 0;
  }

  .news-date {
    font-size: 0.85em;
    color: #ed2449;
    font-weight: 500;
    margin-top: 10px;
  }
}

.loading-container, .error-container {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-container h3 {
  color: var(--text-main);
  margin: 0;
}

mat-progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-color: var(--primary-bg);
}

.empty-msg {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  color: var(--primary-text);
}

@media (max-width: 1200px) {
  .new-item {
    width: calc(85% - 15px);
  }
}

@media (max-width: 990px) {
  .reviews-container {
    padding: 10px 2%;
    gap: 15px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .new-item {
    width: 100%;
    margin: auto;
    border-radius: 12px;
    gap: 10px;
  }

  .new-item img {
    max-width: 100%;
    border-radius: 8px;
  }

  .news-label {
    font-size: 1.3em;
  }

  .news-desc {
    font-size: 1em;
    color: var(--secondary-text);
  }
}
