.comments-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 1rem auto;
  background-color: var(--primary-bg);
  padding: 24px;
  border-radius: 12px;
  box-sizing: border-box;
}

.comment-card {
  width: 100%;
  margin-bottom: 12px;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  box-shadow: none !important;
  padding: 24px;
  border-radius: 8px;

  ::ng-deep .mat-mdc-card-content {
    padding: 12px !important;
  }
}
