<app-header (toggleSidenav)="sidenav.toggle()"></app-header>

<mat-sidenav-container class="app-container" [hasBackdrop]="isMobileOverlay">

  <mat-sidenav #sidenav
    [mode]="isMobileOverlay ? 'over' : 'side'"
    [opened]="!isMobileOverlay"
    class="sidebar">

    <ul class="nav-list">
      @if (isMobileOverlay) {
        <li routerLink="home" routerLinkActive="activeLink">
          <mat-icon>home</mat-icon>
          <a>Főoldal</a>
        </li>
      }
      @if (isMobileOverlay) {
        <li routerLink="news" routerLinkActive="activeLink">
          <mat-icon>newspaper</mat-icon>
          <a>Hírek</a>
        </li>
      }
      @if (isMobileOverlay) {
        <li routerLink="reviews" routerLinkActive="activeLink">
          <mat-icon>rate_review</mat-icon>
          <a>Összefoglalók</a>
        </li>
      }

      @if (isSmallScreen) {
        <li routerLink="reviews" routerLinkActive="activeLink">
          <mat-icon>person</mat-icon>
          <a>Bejelentkezés</a>
        </li>
      }
      @if (isMobileOverlay) {
        <mat-divider></mat-divider>
      }

      <mat-accordion multi="true" class="menu-accordion">
        <mat-expansion-panel expanded="true" class="menu-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">KATEGÓRIÁK</mat-panel-title>
          </mat-expansion-panel-header>

          <ul class="nav-list inner-list">
            <li routerLink="f1" routerLinkActive="activeLink" (click)="isMobileOverlay ? sidenav.close() : null">
              <img [src]="'img/header/icons/f1.png'" class="sidenav_icon" alt="f1">
              <a>F1</a>
            </li>
            <li routerLink="f2" routerLinkActive="activeLink" (click)="isMobileOverlay ? sidenav.close() : null">
              <img [src]="'img/header/icons/f2.png'" class="sidenav_icon" alt="f2">
              <a>F2</a>
            </li>
            <li routerLink="wec" routerLinkActive="activeLink" (click)="isMobileOverlay ? sidenav.close() : null">
              <img [src]="'img/header/icons/wec.png'" class="sidenav_icon" alt="wec">
              <a>WEC</a>
            </li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true" class="menu-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">HIVATALOS OLDALAK</mat-panel-title>
          </mat-expansion-panel-header>

          <ul class="nav-list inner-list">
            <li (click)="isMobileOverlay ? sidenav.close() : null">
              <a href="https://www.formula1.com/" target="_blank">
                F1&reg;
              </a>
            </li>
            <li (click)="isMobileOverlay ? sidenav.close() : null">
              <a href="https://www.fiaformula2.com/" target="_blank">F2&reg;</a>
            </li>
            <li (click)="isMobileOverlay ? sidenav.close() : null">
              <a href="https://www.fiawec.com/" target="_blank">WEC&reg;</a>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="main-content-host" [class.menu-closed]="!sidenav.opened">
    @if (!isSmallScreen) {
      <button mat-icon-button
        class="toggle-anchor"
        [class.closed-pos]="!sidenav.opened"
        (click)="sidenav.toggle()"
        >
        <mat-icon>{{ sidenav.opened ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
    }
    <div class="content-scroll-wrapper">
      <main class="content-padding">
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
