.error-display-container {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.error-msg {
  font-size: 15px;
  font-weight: bold;
  color: #d32f2f;

}
