<main>
  <div class="content-container">
    <h2>Friss hírek:</h2>
    <app-recent-news></app-recent-news>

    <mat-card class="outer-card">
      <mat-card-header></mat-card-header>
      <mat-card class="inner-card">
        <mat-card-header>
          <mat-card-title><h1>Üdvözlünk a DRS Zónában!</h1></mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'img/home/1.jpg'" alt="2024-es Miami Nagydíj - Rajt" loading="lazy">
        <mat-card-content>
          <p>Ez a weboldal egy hely, ahol mindent megtudhatsz a Forma-1 legfrissebb híreiről, izgalmas összefoglalókról és mélyreható elemzésekről. Itt a helyed, ha legnagyobb átéléssel követed a szezont, vagy csak éppen most ismerkedsz az autósporttal.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="inner-card">
        <img mat-card-image [src]="'img/home/2.jpg'" alt="2024-es Monaco Nagydíj" loading="lazy">
        <mat-card-header>
          <mat-card-title><h2>Hírek és friss információk</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>A kezdőoldalon megtalálhatóak a legfrissebb hírek, így elsőként értesülhetsz a legújabb fejleményekről. Legyen szó meglepő csapatváltásokról, drámai futameredményekről vagy kulisszatitkokról a paddockból.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="inner-card">
        <img mat-card-image [src]="'img/home/3.jpg'" alt="2025-es Ferrari - Filoranoi teszt" loading="lazy">
        <mat-card-header>
          <mat-card-title><h2>Összefoglalók és beszámolók</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Nem kell aggódni, ha esetleg lemaradnál a hétvége történésiről, minden esemény után rövid összefoglalót teszünk ki, a futamok után pedig egy teljes, részletes beszámolót is megosztunk az oldalon.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="inner-card">
        <img mat-card-image [src]="'img/home/4.jpg'" alt="2023-as Ausztrál Nagydíj - Újraindítás" loading="lazy">
        <mat-card-header>
          <mat-card-title><h2>Hozzászólások és közösség</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Célunk a magyar F1 rajongók közösségét növelni és egy olyan helyet teremteni, ahol szabadon megoszthatjuk egymás között véleményeinket.</p>
          <h3 class="join-us">Csatlakozz hozzánk, és éld át a Forma-1 világát!</h3>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
</main>
