@if (!isLoading && !errorOccurred) {
  <div class="primary_news-container">
    @for (new_item of articles; track new_item) {
      <mat-card class="new-item" [routerLink]="['/article', new_item.slug]">
        <img mat-card-image
          [src]="new_item.primaryImageUrl"
          [alt]="new_item.title"
          loading="lazy">
          <mat-card-content class="text-content">
            <h2 class="news-label">{{ new_item.title }}</h2>
            <p class="news-desc">{{ new_item.lead }}</p>
            <p class="news-date">
              {{ new_item.datePublished | date:'yyyy. MMMM d. – HH:mm' }}
            </p>
          </mat-card-content>
        </mat-card>
      }
      @if (articles?.length === 0) {
        <p class="empty-msg">
          Nem találtunk híreket.
        </p>
      }
    </div>
  } @else {
    @if (errorOccurred) {
      <app-error-display
        (retry)="fetchArticles()">
      </app-error-display>
    }
    @if (isLoading && !errorOccurred) {
      <div class="loading-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <h3>Hírek betöltése...</h3>
      </div>
    }
  }

