main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  min-height: 85vh
}

.news {
  width: 100%;
  display: flex;
  justify-content: center;
}
