.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;
  min-width: 0;
  max-width: 100%;

  mat-form-field {
    width: 100%;
  }
}

.form-row {
  display: flex;
  gap: 12px;

  mat-form-field {
    flex: 1;
    padding-bottom: 30px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }
}
