.comments-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 1rem auto;
  background-color: var(--primary-bg);
  padding: 24px;
  border-radius: 12px;
  box-sizing: border-box;
  animation: fadeIn 0.2s ease-out;
}

.comment-card {
  width: 100%;
  margin-bottom: 12px;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  box-shadow: none !important;
  padding: 24px;
  border-radius: 8px;

  ::ng-deep .mat-mdc-card-content {
    padding: 12px !important;
  }
}


.no-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-main);
  text-align: center;

  mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  from { opacity: 0.3; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
