<main>
  <div class="container" *ngIf="!isLoading && !errorOccurred; else stateTemplate">
    <mat-card class="article-card">

      <header class="article-header">
        <img [src]="'img/news-images/' + article?.id + '/primary.jpg'"
             [alt]="article?.title"
             class="img-fluid primary-img">

        <div class="title-group">
          <h1 class="mat-headline-3">{{ article?.title }}</h1>
          <h2 class="mat-headline-6">{{ article?.lead }}</h2>
        </div>
      </header>

      <mat-card-content>
        <div class="content-block" *ngIf="article?.firstSection" [innerHTML]="article.firstSection"></div>

        <ng-container *ngIf="article?.isReview">
          <div class="section-wrapper" *ngFor="let section of article?.middleSections; let i = index">
            <div class="content-block" [innerHTML]="section"></div>

            <figure class="article-figure" *ngIf="i === 0">
              <img [src]="'img/news-images/' + article.id + '/secondary.jpg'" class="img-fluid">
            </figure>

            <figure class="article-figure" *ngIf="i === 1">
              <img [src]="'img/news-images/' + article.id + '/third.jpg'" class="img-fluid">
            </figure>
          </div>
        </ng-container>


        <figure class="article-figure" *ngIf="article?.id">
          <img [src]="'img/news-images/' + article.id + '/last.jpg'"
               [alt]="article.title"
               class="img-fluid">
        </figure>

        <div class="content-block" *ngIf="article?.lastSection" [innerHTML]="article.lastSection"></div>

        <mat-divider class="section-divider"></mat-divider>

        <section class="comments-section" *ngIf="article?.id">
          <h3>Hozzászólások</h3>
          <app-comment-list
            [articleId]="article.id"
            [articleUrl]="article.url || ''">
          </app-comment-list>
        </section>
      </mat-card-content>

      <mat-card-footer class="card-footer">
        <button mat-flat-button color="primary" routerLink="/news">Vissza a hírekhez</button>
      </mat-card-footer>
    </mat-card>
  </div>

  <ng-template #stateTemplate>
    <app-error-display *ngIf="errorOccurred" (retry)="fetchArticle()"></app-error-display>

    <div class="container" *ngIf="isLoading && !errorOccurred">
      <mat-card class="article-card skeleton-card">
        <div class="skeleton-hero"></div>
        <div class="title-group">
          <div class="skeleton-title"></div>
          <div class="skeleton-lead"></div>
        </div>
        <mat-card-content>
          <div class="skeleton-text"></div>
          <div class="skeleton-text"></div>
          <div class="skeleton-text short"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</main>
